@use "../variables" as *;
@use "../mixins" as *;

.post-footer {
    background: #fff;
    color: $color_text;
    margin: 0;
    margin-top: $card_margin_top;
    padding: $indent_top;
    text-align: left;
    box-shadow: $box_shadow;
    border-radius: $border_radius;
    i[class*="fa"] {
        margin-right: .875rem;
        color: $color_text_0;
        vertical-align: center;
    }
    :is(.post-tags, .post-categories) a {
        border-bottom: 0;
    }
    .post-tags a {
        margin-right: .75rem;
        &::before {
            @include fontawesome("\f02b"); // tag
            @extend %fa-fw;
            margin-right: 3px;
        }
    }
    .post-license { // 这应该是许可区域外围的样式
         // 左右将 .post-footer 的 padding 抵消掉，背景色才能将左右填满
        margin: $indent_top (-$indent_top) 0 (-$indent_top);
        padding: $indent_top;
        background: $color_2;
        position: relative;
        overflow: clip;
        > * {position: relative; z-index: 1;}
        > :last-child {
            margin-bottom: 0;
        }
        &::before {
            @include fontawesome("\f24e"); // scale-balanced
            position: absolute;
            left: -.2em;
            top: -.1em;
            font-size: 6rem;
            color: $color_3;
            z-index: 0;
        }
    }
    .post-nav {
        margin-top: $indent_top;
        // padding-top: .25rem;
        // border-top: 1px dashed $color_text_1;
        display: flex;
        flex-flow: row;
        a {
            display: flex;
            border-bottom: 0;
            flex-basis: 50%;
            &[rel="prev"] {
                justify-content: flex-start;
            }
            &[rel="next"] {
                justify-content: flex-end;
            }
            i[class*="fa"] {
                color: $color_text;
                transition: color $transition_time;
                margin: 0;
            }
            &:hover i[class*="fa"] {
                color: $color_theme;
            }
            &:active i[class*="fa"] {
                color: $color_7;
            }
        }
        &:has(a[rel="next"]):not(:has(a[rel="prev"])) { // 当只有下一篇时，靠右
            justify-content: flex-end;
        }
    }
}