$page-number-basic {
  display: inline-block;
  margin: -1px 10px 0;
  padding: 0 10px;

  +mobile() {
    margin: 0 5px;
  }
}

$page-number-current {
  background: $pagination-active-bg;
  border-color: $pagination-active-border;
  color: $pagination-active-color;
}

.pagination {
  margin: 120px 0 0;
  text-align: $scheme-text-align;

  .prev, .next, .page-number {
    @extend $page-number-basic;
    font-family: $font-family-monospace; // edit pagenumber's font-family -jywondf
    border-bottom: 0;
    border-radius: 3px;
    transition: background-color $transition-ease;

    &:hover {
      background-color: $grey-lighter;
    }
  }

  .space {
    @extend $page-number-basic;
    margin: 0;
    padding: 0;
    color: #bcbcbc;
  }

  .page-number.current {
    @extend $page-number-current;
  }
}
