$color_text_0: #b0b0b0;
$color_text_1: #5f5f5f;
$color_text: #444;
$color_text_3: #202020;
$color_text_4: #101010;
$color_1: #fff7e6;
$color_2: #ffe7b8;
$color_3: #ffd68f;
$color_4: #ffc266;
$color_5: #ffab3d;
$color_theme: #f18913;
$color_7: #cc6906;
$color_8: #a64d00;
$color_9: #803700;
$color_10: #592400;

$border_radius_0: 3px;
$border_radius: 5px;
$transition_time: .3s;
$box_shadow:
    0 2px 2px  0   rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06),
    0 1px 5px  0   rgba(0, 0, 0, 0.12);

$card_margin_top: 12px;
$para_margin_bottom: 20px;
$indent_top: 1rem;
$indent_left: 2rem;

$title_font_size: 1.625em;
$title_font_size_step: .125em;

$font_lxgw: "LXGW WenKai Mono GB";
$font_fontawesome: (
    "solid": var(--fa-font-solid), // fa, fas, fa-solid
    "regular": var(--fa-font-regular), // far, fa-regular
    "brands": var(--fa-font-brands) // fab, fa-brands
);
$font_mono: "Maple Mono NF CN", "Cascadia Mono", "Consolas",  "Menlo", "Ubuntu Mono", "Adwaita Mono", "Courier New", "Courier", monospace;

$note-text: ("info", "success", "warning", "danger");
$note-fg  : (
    "info"   : #428bca,
    "success": #5cb85c,
    "warning": #f0ad4e,
    "danger" : #d9534f
);
$note-bg  : (
    "info"   : #eef7fa,
    "success": #eff8f0,
    "warning": #fdf8ea,
    "danger" : #fcf1f2
);
$note-icon: (
    "info"   : "\f05a", // circle-info
    "success": "\f058", // circle-check
    "warning": "\f071", // triangle-exclamation
    "danger" : "\f1e2"  // bomb
);
