// Header Section
// --------------------------------------------------
.headband {
  display: none; // hided headband -jywondf
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;

  border-radius: 5px 5px 0 0; // mod border-radius -jywondf
  +tablet-mobile() {
    border-radius: 0;
  }
}

.use-motion {
  .column, .site-brand-container .toggle {
    opacity: 0;
  }
}

@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark';
@import 'github-banner';
