<div class="site-overview">
    <div class="site-author">{{ config.author }}</div>
    <div class="site-stat">
        <div class="site-stat-item">
            <span class="site-stat-count">{{ site.posts.length }}</span>
            <span class="site-stat-text">文章</span>
        </div>
        {%- if site.categories.length %}
        <div class="site-stat-item">
            <span class="site-stat-count">{{ site.categories.length }}</span>
            <span class="site-stat-text">分类</span>
        </div>
        {%- endif %}
        {%- if site.tags.length %}
        <div class="site-stat-item">
            <span class="site-stat-count">{{ site.tags.length }}</span>
            <span class="site-stat-text">标签</span>
        </div>
        {%- endif %}
    </div>
</div>