{### Font Awesome ###}
<link rel="stylesheet" href="/css/fontawesome.css" crossorigin="anonymous">

{### animate.css ###}
{# <link rel="stylesheet" href="/css/animate.css" crossorigin="anonymous"> #}

<script src="/js/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/css/sweetalert2.min.css">
{# <script src="https://unpkg.com/sweetalert2@11.7.32/dist/sweetalert2.min.js"></script> #}

{### Font Family ###}
<link rel="stylesheet" href="/fonts/lxgw/lxgwwenkailite-regular.css">
<link rel="stylesheet" href="/fonts/smiley-sans/smileysans-regular.css">
<link rel="stylesheet" href="/fonts/alimama-dongfangdakai/alimama-dongfangdakai.css">

{# 
<style type="text/css">
    body
    {
        font-family: LXGW WenKai Lite;
        font-size: 1em;
    }
    h1
    {
        font-family: AlimamaDongFangDaKai;
    }
    h2, h3, h4, h5, h6
    {
        font-family: LXGW WenKai Lite;
    }
    .post-title-link
    {
        font-family: AlimamaDongFangDaKai;
    }
    .site-title
    {
        font-family: smileysans;
        font-size: 1.7em;
    }
    .post-body
    {
        font-family: LXGW WenKai Lite;
    }
    .post-meta
    {
        font-family: LXGW WenKai Lite;
    }
    .search-result-icon
    {
        display: flex;
        text-align: center;
    }
    .page-number.current
    {
        border-radius: 15%;
    }

    details {
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 0.5em 0.5em 0;
    }
    summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
    }
    details[open] {
        padding: 0.5em;
    }
    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
    }
</style>
 #}