<div>
    {% if not is_index %}
        <div style="text-align:center;color: #ccc;font-size:14px;">Website article was End <a style="color:inherit;" href="javascript:window.history.back()" aria-label="返回上一页" balloon-shown="up" rel="noopener me"><i class="fa fa-tree"></i></a> Thanks for your reading</div>
    {% endif %}
</div>