{% if post.top %}
  <div style="padding-left: 8px;">
    <span class="post-meta-divider" style="padding-right: 8px;">|</span>
    <span color=black style="color: #000000; font-weight: bold; padding-left: 4px;"> <i class="fa fa-thumbtack"></i> </span>
    <span style="color: #000000; font-weight: bold; padding-left: 4px;"> 置顶 </span>
  </div>
{% endif %}

{% if post.hidden %}
  <div style="padding-left: 8px;">
    <span class="post-meta-divider" style="padding-right: 8px;">|</span>
    <span style="color: #000000; font-weight: bold; padding-left: 4px;"> 
      <i class="fa-solid fa-square-minus"></i>
    </span>
    <span style="color: #000000; font-weight: bold; padding-left: 4px;" title="隐藏：本文章仅在归档页显示"> 隐藏 </span>
  </div>
{% endif %}