// 隐藏顶部线条
.headband {
  display: none;
}
// 顶部边距
.header,
.main-inner {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}

// 图片圆角
.post-body img {
  border-radius: 8px 
}

// 侧边栏圆角
.site-brand-container {
  border-radius: 5px 5px 5px 5px;

  +mobile() {
    border-radius: 0 0 0 0;
  }
}

// 添加背景图片
body {
      background: url(/pic/background3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
      @media (prefers-color-scheme: dark) {
        background-image: none;
      }
}