.highlight:hover .copy-btn, .code-container:hover .copy-btn {
  opacity: 1;
  visibility: visible;
}
.code-container:hover pre[class*="language-"]::before {
  opacity: 0;
  visibility: hidden;
}

.code-container {
  position: relative;
}
pre[class*="language-"] {
  border-radius: 4px; // add codeblock style(line 9 to line 34) -jywondf
  position: relative;
  &::before {
    content: attr(data-language);
    opacity: .4;
    visibility: visible;
    font-weight: 700;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: opacity .3s, visibility .3s;
  }
  &::-webkit-scrollbar {
    height: 6px;
    background-color: #dfdfdf;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
  }
}

.copy-btn {
  color: $black-dim;
  cursor: pointer;
  line-height: 1.6;
  opacity: 0;
  visibility: hidden;
  padding: 2px 6px;
  position: absolute;
  transition: opacity $transition-ease, background-color .3s, visibility .3s;

  if (hexo-config('codeblock.copy_button.style') == 'flat') {
    background: white;
    border-radius: 2.5px; // mod copy btn -jywondf
    font-size: $font-size-smaller;
    right: 5px;
    top: 5px;
    &:hover {
      background-color: #eee;
    }
  } else if (hexo-config('codeblock.copy_button.style') == 'mac') {
    color: var(--highlight-foreground);
    font-size: 14px;
    right: 0;
    top: 2px;
  } else {
    background-color: $gainsboro;
    background-image: linear-gradient(#fcfcfc, $gainsboro);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: $font-size-smaller;
    right: 4px;
    top: 8px;
  }
}

if (hexo-config('codeblock.copy_button.style') == 'mac') {
  figure.highlight {
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4);
    padding-top: 30px;

    .table-container {
      border-radius: 0 0 5px 5px;
    }

    &::before {
      background: #fc625d;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      left: 12px;
      margin-top: -20px;
      position: absolute;
      round-icon(12px);
    }
  }
}
