{{ js('/js/loader.js') }}
{{ js({defer: true, src: '/js/lib/pjax.min.js'}) }}
{{ js('/js/lib/anime.min.js') }}
{{ js('/js/lib/katex/katex.min.js') }}
{{ js('/js/lib/katex/auto-render.min.js') }}
{{ js('/js/lib/search.js') }}