{{ js('/js/loader.js') }}
{{ js({defer: true, src: 'https://src-jywon.glitch.me/js/pjax.min.js'}) }}
{{ js('https://src-jywon.glitch.me/js/anime.min.js') }}
{{ js('https://src-jywon.glitch.me/js/katex.min.js') }}
{{ js('/js/search.js') }}