<div class="search-overlay">
    <div class="search-container">
        <div class="input-header">
            <span class="search-icon"><i></i></span>
            <input type="search" placeholder="请稍候..." autocomplete="off" autocapitalize="off" spellcheck="false" maxlength="80" class="search-input">
            <span><i class="fa fa-circle-xmark search-close"></i></span>
        </div>
        <div class="result-container"></div>
    </div>
</div>