{% set favicon = "https://src-jywon.glitch.me/favicon.svg" %}

{% set menu = [['首页&emsp;&emsp; || /', '/', 'fa fa-home'],
               ['标签&emsp;&emsp; || tags', '/tags/', 'fa fa-tags'],
               ['分类&emsp;&emsp; || categories', '/categories/', 'fa fa-rectangle-list'],
               ['存档&emsp;&emsp; || archives', '/archives/', 'fa fa-archive']] %}

{% set more_menu = [['友情链接 || friends', '/friends/', 'far fa-address-card'],
                    ['留言板&emsp; || guestbook', '/guestbook/', 'fa fa-pen-to-square'],
                    ['关于&emsp;&emsp; || about', '/about/', 'fa fa-circle-info fa-fw']] %}

{% set tagcloud_config = {amount: 400, order: 1, min_font: 10, max_font: 24, class: "cloud-tags-item", show_count: true, count_class: "tags-item-count"} %}