{%- extends "_layout.njk" %}

{%- block pagetitle %}{{ page.title }} | {{ config.title }}{%- endblock %}

{%- block pagebody %}
{{ partial('_partials/postblock.njk', {thispage: page, thispage_content: page.content, thispage_footer: true, frompages: false}) }}
{%- endblock %}

{%- block pagesidebar %}
<script type="application/json" class="cfgKtx">{% if page.mathjax %}true{% else %}false{% endif %}</script>
{%- set posttoc = toc(page.content) %}
{%- if posttoc.length %}
<div class="post-toc">
    {{ posttoc }}
</div>
{%- else %}
{{ partial('_partials/sidebarinfo.njk') }}
{%- endif %}
{%- endblock %}